:host {
  display: block;

  width: 100%;

  background-color: var(--brand-green-blue-color);
}

.property-valuation-we-pay-photograph__container {
  justify-content: center;
  flex-direction: row;

  display: flex;

  width: 100%;
  padding: 60px 104px 64px;

  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.property-valuation-we-pay-photograph__content {
  justify-content: center;
  flex-direction: row;

  display: flex;

  width: 1016px;
}

.property-valuation-we-pay-photograph__icon {
  margin-right: 24px;

  align-items: center;

  display: flex;

  flex-shrink: 0;

  width: 184px;

  color: var(--neutrals-white-color);
}

.property-valuation-we-pay-photograph__explanation {
  display: flex;
  flex-direction: column;

  color: var(--neutrals-white-color);
}

.property-valuation-we-pay-photograph__explanation-header {
  font-family: 'PT Serif';
  font-size: 32px;
  letter-spacing: 1.5px;
  line-height: 40px;
}

.property-valuation-we-pay-photograph__explanation-sub-header {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.85px;
  line-height: 35px;
}

.property-valuation-we-pay-photograph__explanation-message {
  margin-top: 24px;

  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.59px;
  line-height: 28px;
}

/* Responsive */

@media (max-width: 790px) {
  .property-valuation-we-pay-photograph__container {
    padding: 64px 16px 24px;
  }

  .property-valuation-we-pay-photograph__content {
    flex-direction: column;
  }

  .property-valuation-we-pay-photograph__icon {
    margin-right: 0;
    margin-bottom: 56px;

    align-self: center;

    width: auto;
  }

  .property-valuation-we-pay-photograph__explanation-sub-header,
  .property-valuation-we-pay-photograph__explanation-message {
    margin-top: 24px;
  }

  .property-valuation-we-pay-photograph__explanation-sub-header {
    line-height: 25px;
  }
}
