:host {
  width: fit-content;
  width: -moz-max-content;
}

input, label {
  font-family: var(--font-family-app);
  font-size: var(--font-size-input);
  font-weight: var(--font-weight-input);
  letter-spacing: var(--letter-spacing-input);
  /*need normal value for centering placeholder vertically on iPhone Safari  */
  line-height: normal;
}

.input-str__container {
  position: relative;
}

.input-str__field {
  width: var(--width-input);
  height: var(--height-input);

  padding: var(--padding-input);
  border-radius: var(--border-radius-input);
  border: var(--border-input-standart);

  color: var(--color-input-standart);

  background-color: var(--background-color-input);
  outline: none;
}

.input-str__field:hover {
  border: 1px solid hsl(174, 92%, 36%);

  color: var(--color-input-hover);
}

.input-str__field:focus {
  border: var(--border-input-active);

  color: var(--color-input-active);
}

.input-str__field--state-filled {
  border: var(--border-input-filled);

  color: var(--color-input-filled);
}

.input-str__label {
  margin-bottom: var(--margin-bottom-label);

  color: var(--color-label-standart);
}

.input-str__message {
  display: block;

  font-size: var(--font-size-feedback);
  font-weight: var(--font-weight-feedback);
  letter-spacing: var(--letter-spacing-feedback);
  line-height: var(--line-height-feedback);

  color: var(--color-feedback-error);
}

.input-str__message--error-positioning-absolute {
  position: absolute;
  bottom: -10px;
}

.input-str__container--state-invalid:after {
  position: absolute;
  right: 10px;

  font-size: 20px;
  font-weight: 300;

  color: var(--color-feedback-error);

  content: '!';
}

.input-str__container--state-invalid.input-str__container--error-positioning-absolute:after {
  bottom: 6px;
}

.input-str__container--state-invalid.input-str__container--error-positioning-blocky:after {
  bottom: 16px;
}

.input-str__container--state-invalid .input-str__label {
  color: var(--color-label-error);
}

.input-str__container--state-invalid .input-str__field {
  border: var(--border-input-error);

  color: var(--color-input-error);
}

.input-str__field--w-288px {
  width: 288px;
}

.input-str__field--w-272px {
  width: 272px;
}

.input-str__field--w-100per {
  width: 100%;
}

.input-str__field--h-44px {
  height: 44px;
}

.input-str__field--h-217px {
  height: 217px;
}

.input-str__field--p-14px-7px {
  padding: 14px 7px;
}

.input-str__field--valid-error-true {
  border-color: var(--feedback-error-color);
}

@media (max-width: 450px) {
  .input-str__field--mobile-w-100per {
    width: 100%;
  }

  .input-str__field {
    transform: translate3d(0, 0, 0);

    will-change: tranform;
  }
}
