:host {
  display: inline-block;

  font-family: 'Nunito Sans', sans-serif;

  cursor: default;
}

.switch__new_switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch__sw-input {
  display: none;
}

.switch__sw-label {
  position: relative;
  top: 2px;

  width: 40px;
  height: 15px;
}

.switch__sw-label::after {
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 1;

  width: 34px;
  height: 14px;
  border-radius: 7px;

  background-color: hsl(0, 0%, 90%);
  cursor: pointer;

  content: '';
}

.switch__sw-label::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 20px;
  height: 20px;
  border: 5px solid var(--neutrals-dark-light-color);
  border-radius: 50%;

  content: '';
  background-color: var(--neutrals-white-color);
  cursor: pointer;

  transition: transform .1s linear;
}

.switch__sw-input:checked + .switch__sw-label::after {
  background-color: hsl(174, 100%, 43%);
}

.switch__sw-input:checked + .switch__sw-label::before {
  border: 5px solid var(--secondary-cta-default-color);

  transform: translateX(14px);
}
