<app-spoiler
  type="styledheading"
  id="broker-faq-tips-spoiler"
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler' } } | bem"
  heading="Tipps zur Finanzierung"
  spoilerHeight="44px"
>
  <span class="broker-faq__spoiler-text">
    Du suchst eine Finanzierung für deine Immobilie?
    Mit der richtigen Herangehensweise ist es ganz einfach,
    die passende Immobilienfinanzierung für dein Vorhaben zu finden.
    Wie Immobilienkäufer und Bauherren dabei am besten vorgehen,
    hat unser Partner Interhyp hier für dich zusammengestellt.
  </span>
</app-spoiler>

<app-spoiler
  type="styledheading"
  id="broker-faq-funding-spoiler"
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler' } } | bem"
  heading="Fördermittel"
  spoilerHeight="44px"
>
  <span class="broker-faq__spoiler-text">
    Für Bauherren und Käufer gibt es unterschiedliche Förderprogramme vom Staat.
    Das bekannteste ist hier das KfW-Darlehen,
    mit dem du beim Erwerb oder der Sanierung einer Immobilie unterstützt wirst.
    Dieses lässt sich auch mit anderen Darlehen kombinieren.
    Gerne helfen dir unsere Experten in einem persönlichen Gespräch weiter.
  </span>
</app-spoiler>

<app-spoiler
  type="styledheading"
  id="broker-faq-financing-spoiler"
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler' } } | bem"
  heading="Anschlussfinanzierung"
  spoilerHeight="44px"
>
  <span class="broker-faq__spoiler-text">
    Bei den meisten Immobiliendarlehen läuft nach 5, 10 oder 15 Jahren die Zinsbindungsfrist aus.
    In aller Regel ist dann noch eine Restschuld vorhanden und eine Anschlussfinanzierung wird erforderlich.
    Dabei gilt: Je früher du für eine möglichst günstige Weiterfinanzierung deines Immobiliendarlehens sorgst,
    umso besser sind deine Chancen, in Ruhe unterschiedliche Angebote vergleichen und die optimale Lösung wählen zu können.
  </span>
</app-spoiler>

<app-spoiler
  type="styledheading"
  id="broker-faq-advanced-spoiler"
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler' } } | bem"
  heading="VorausBeratung"
  spoilerHeight="44px"
>
  <div class="broker-faq__spoiler-text">
    <p>
      Mit der Interhyp-VorausBeratung bekommst du frühzeitig – auch ohne konkretes Objekt – Planungssicherheit für deine Finanzierung.
      Du erhältst eine individuell ausgearbeitete und vorgeprüfte Finanzierung.
      Das erleichtert die Immobiliensuche und du erhältst leichter den Zuschlag beim Kauf.
    </p>
    <p>
      Dein Interhyp-Berater prüft mit dir, welche Immobilie zu deinem Budget passt.
    </p>
    <ul>
      <li>
        Du erhältst ein individuelles Finanzierungskonzept für deine Wunschimmobilie.
      </li>
      <li>
        Du wählst mit deinem Interhyp-Berater aus den Angeboten von über 400 Darlehensgebern -zu besten Konditionen.
      </li>
    </ul>
  </div>
</app-spoiler>
