<app-base-modal
  [showMobileNavbar]="false"
  (dismiss)="onDismiss()"
>
  <ng-container app-base-modal-header>
    Passwort vergessen
  </ng-container>

  <ng-container app-base-modal-title>
    Gib die E-Mail-Adresse ein, mit der du dein Scoperty Konto erstellt hast.
  </ng-container>

  <ng-container *ngIf="passwordError" app-base-modal-message>
    <app-generic-error-alert *ngIf="passwordError === errors.DefaultError"></app-generic-error-alert>
    <app-alert type="error" *ngIf="passwordError === errors.UserNotRegisteredError">
      Die eingegebene Adresse ist uns nicht bekannt. Bitte registriere dich erst.
    </app-alert>
    <app-alert type="error" *ngIf="passwordError === errors.UserEmailNotConfirmedError">
      <p>Die eingegebene Adresse ist noch nicht bestätigt. Bitte klicke den Link in der Bestätigungsmail.</p>
      <a
        app-button
        buttonStyle="link"
        color="green"
        (click)="openLinkResend()">
        Neuen Bestätigungslink senden
      </a>
    </app-alert>
  </ng-container>

  <ng-container app-base-modal-body>
    <form [formGroup]="userDataForm">
      <!-- User email -->
      <app-form-field label="E-Mail-Adresse">
        <input
          id="forgot-password-email-input"
          type="email"
          tabindex="1"
          app-input
          appValidateOnBlur [validateFormControl]="userEmail"
          [formControl]="userEmail"
          (keyup.enter)="onForgotPassword()"
          #emailInput
        >

        <ng-template app-form-field-error-message error="required">
          Bitte eine E-Mail-Adresse eingeben
        </ng-template>
        <ng-template app-form-field-error-message error="pattern">
          Falsche E-Mail-Adresse
        </ng-template>
      </app-form-field>
    </form>
  </ng-container>

  <ng-container app-base-modal-footer>
    <app-base-modal-actions>
      <button
        id="forgot-password-confirm-button"
        app-button
        color="primary-green"
        size="medium"
        [stretch]="true"
        (click)="onForgotPassword()"
      >
        Absenden
      </button>
    </app-base-modal-actions>
  </ng-container>
</app-base-modal>
