<div [attr.class]="{block: _name, element: 'content'} | bem">
  <div id="main" [attr.class]="{block: _name, element: 'title'} | bem">
    Nutzungsbedingungen für Scoperty
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 1 Geltungsbereich
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Diese Nutzungsbedingungen gelten für sämtliche durch die Verwendung von Scoperty durch natürliche Personen
        (im Folgenden: Nutzer) zwischen dem Anbieter und dem Nutzer entstehenden Rechtsverhältnisse. Dies gilt
        unabhängig davon, ob sich der Nutzer im Login- Bereich von Scoperty als Eigentümer, Interessent oder Makler
        registriert oder die ohne Registrierung freigeschalteten Funktionen von Scoperty nutzt. Der Nutzer stimmt
        durch Nutzung von Scoperty den Nutzungsbedingungen zu.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter behält sich vor die Nutzungsbedingungen für Scoperty jederzeit für die Zukunft zu ändern und
        anzupassen. Nicht registrierte Nutzer stimmen neuen Nutzungsbedingungen durch die Verwendung von Scoperty
        konkludent zu. Nutzer, welche sich für die Verwendung erweiterter Funktionen im Login- Bereich von Scoperty
        registriert haben, werden über neue Nutzungsbedingungen informiert. Erfolgt innerhalb von 4 Wochen kein
        Widerspruch der registrierten Nutzer gegen die neuen Nutzungsbedingungen, gelten diese als vollumfänglich
        akzeptiert. Widerspricht der registrierte Nutzer den neuen Nutzungsbedingungen hat der Anbieter das Recht,
        den bestehenden Vertrag mit dem registrierten Nutzer fristlos zu kündigen und seinen Account mit sofortiger
        Wirkung zu sperren. Der Nutzer kann hieraus keine Ansprüche gegen den Anbieter geltend machen.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      c)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Die jeweils aktuelle Version der Nutzungsbedingungen kann
        <a
          href="/assets/Scoperty_Nutzungsbedingungen.pdf"
          download
          [attr.class]="{block: _name, element: 'download-link'} | bem"
        >
          hier
        </a>
        als PDF heruntergeladen werden.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 2 Nutzungserlaubnis
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter räumt Nutzern die jederzeit widerrufliche, nicht exklusive, nicht übertragbare und beschränkte
        Erlaubnis zur Nutzung von Scoperty ein.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Die frei zugängliche Nutzung von Scoperty sowie die Registrierung im Login- Bereich von Scoperty sind
        grundsätzlich kostenfrei. Davon unbeschadet können durch weitere Nutzung von bestimmten Services von
        Scoperty weitere Kosten für den jeweiligen Nutzer entstehen, z.B. Maklergebühren.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 3 Registrierung und Nutzungsvoraussetzungen
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Voraussetzung für die Nutzung der erweiterten Funktionen von Scoperty ist die Registrierung des Nutzers
        im Login- Bereich von Scoperty.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Die Registrierung im Login- Bereich von Scoperty ist nur volljährigen und voll geschäftsfähigen Nutzern erlaubt.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      c)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Bei Anmeldung des Nutzers im Login- Bereich muss der Nutzer seinen Vor- und Nach_namen, seine E-Mail-Adresse
        und ein Passwort als Anmeldedaten (im Folgenden: „Login-Daten“) angeben.  Zur Nutzung bestimmter, erweiterter
        Funktionen ist die Validierung der E-Mail-Adresse sowie ggf. die Angabe und Validierung einer Mobilfunknummer
        notwendig.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      d)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Nutzer kann die erweiterten Funktionen im Login- Bereich von Scoperty nur nach Eingabe der
        korrekten Login-Daten nutzen.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      e)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Nutzer darf seine Login-Daten sowie seinen Account nicht Dritten zur Nutzung überlassen. Der Nutzer ist
        verpflichtet, seine Login-Daten geheim zu halten und vor dem Zugriff Dritter zu schützen. Der registrierte
        Nutzer kann sein Passwort jederzeit ändern. Sollten Dritte von dem Passwort des Nutzers Kenntnis erlangen,
        so ist der Nutzer verpflichtet, dieses Passwort unverzüglich zu ändern.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      f)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Es gelten die Hinweise zur Datenschutzinformationen der Scoperty GmbH.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 4 Leistungen des Anbieters
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Die durch Scoperty zur Verfügung gestellten Funktionen, einschließlich der erweiterten Funktionen
        im Login- Bereich, können jederzeit ohne Zustimmung des Nutzers durch den Anbieter eingeschränkt,
        erweitert, unterbrochen, beendet oder auf sonstige Art und Weise geändert werden.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Für die Nutzung aller Funktionen von Scoperty können gegebenenfalls zusätzliche technische (Hard- und Software)
        Einrichtungen an den genutzten Endgeräten erforderlich sein.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      c)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter ist jederzeit berechtigt ohne Angabe von Gründen den Betrieb von Scoperty ganz oder teilweise
        einzustellen. Der Nutzer hat keinen Anspruch auf die ständige Verfügbarkeit von Scoperty als solchem sowie
        keinen Anspruch auf die Nutzung aller theoretischen Funktionen von Scoperty. Während der Durchführung von
        Wartungsarbeiten steht Scoperty nicht Verfügung.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 5 Nutzungsrechte und geistiges Eigentum
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter räumt dem Nutzer ein nicht ausschließliches und nicht übertragbares Recht ein, die über Scoperty
        überlassenen Informationen und Dokumente in dem Umfang zu nutzen, wie dies vereinbart oder, falls nichts
        vereinbart ist, wie es dem mit der Bereitstellung und Überlassung durch den Anbieter verfolgten Zweck entspricht.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter ist, soweit nichts anderes bestimmt ist, alleiniger Rechteinhaber an den Inhalten der Website und
        der Datenbank von Scoperty. Sämtliche Urheber-, Marken- und sonstigen Schutzrechte an der Datenbank und den
        hier eingestellten Inhalten, Daten und sonstigen Elementen stehen ausschließlich dem Anbieter zu. Der Nutzer
        wird diese Rechte beachten. Etwaige Rechte des Nutzers an den von ihm auf Scoperty eingestellten Inhalten
        bleiben hiervon unberührt. Mit dem Upload von Daten, Dokumenten oder Informationen durch den Nutzer auf Scoperty
        erteilt der Nutzer dem Anbieter das Recht, diese Daten, Dokumente und Informationen für seine Geschäftszwecke
        zu nutzen.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      c)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Informationen, Dokumente, Marken und sonstige Inhalte von Scoperty dürfen ohne vorherige schriftliche Genehmigung
        des Anbieters weder verändert, kopiert, vervielfältigt, verkauft, vermietet, genutzt, ergänzt oder sonst
        wie verwertet werden.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      d)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Außerhalb der hierin ausdrücklich eingeräumten Nutzungsrechte oder sonstiger Rechte, werden dem Nutzer keine
        weiteren Rechte gleich welcher Art, insbesondere an dem Firmen_namen und an gewerblichen Schutzrechten, wie
        Patenten, Gebrauchsmustern oder Marken eingeräumt, noch trifft den Anbieter eine entsprechende Pflicht,
        derartige Rechte.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 6 Haftungsausschluss
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Schadensersatzansprüche des Nutzers gegen den Anbieter sind ausgeschlossen, soweit nachfolgend nichts
        anderes bestimmt ist. Der vorstehende Haftungsausschluss gilt auch zugunsten der gesetzlichen Vertreter
        und Erfüllungsgehilfen des Anbieters, sofern der Nutzer Ansprüche gegen diese geltend macht.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Davon ausgenommen sind Schadensersatzansprüche aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit
        und Schadensersatzansprüche aus der Verletzung wesentlicher Vertragspflichten. Wesentliche Vertragspflichten
        sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig sind. Von dem Haftungsausschluss
        ebenfalls ausgenommen ist die Haftung für Schäden, die auf einer vorsätzlichen oder grob fahrlässigen
        Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      c)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter haftet vor allem nicht für den Ausfall von Scoperty aufgrund von technischen oder sonstigen
        Problemen, die nicht im Einflussbereich des Anbieters liegen (z. B. höhere Gewalt, Verschulden Dritter u.a.).
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      d)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter haftet nicht für Schäden, die in Folge der Nichtverfügbarkeit von Scoperty eintreten.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      e)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter haftet nicht bei Verlust der Daten und Informationen auf Scoperty und gewährleistet keine
        Rekonstruktion dieser Daten und Informationen. Der Nutzer wird entsprechende Vorkehrungen treffen, die
        hochgeladenen und gespeicherten Daten, Dokumente und Informationen auf eigene Verantwortung zu sichern.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      f)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter übernimmt keine Gewährleistung für die richtige Identität der Nutzer.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      g)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter übernimmt keinerlei Verantwortung für die durch den Nutzer eingegebenen Texte, bereitgestellten
        Inhalte, Bilder, Daten und/oder Informationen sowie für Inhalte auf verlinkten externen Websites.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      h)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Scoperty kann Hyperlinks auf Webseiten Dritter enthalten. Der Anbieter übernimmt für die Inhalte dieser
        Webseiten weder eine Verantwortung noch macht der Anbieter sich diese Webseiten und ihre Inhalte zu eigen,
        da der Anbieter die verlinkten Informationen nicht kontrolliert und für die dort bereit gehaltenen Inhalte
        und Informationen auch nicht verantwortlich ist. Deren Nutzung erfolgt auf eigenes Risiko des Nutzers.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 7 Gewährleistungsausschluss
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter übernimmt keine Gewähr für die Korrektheit und Vollständigkeit der auf Scoperty gemachten Angaben,
        insbesondere hinsichtlich derjenigen Daten, Dokumente, etc., welche von Nutzern von Scoperty hochgeladen wurden.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Die auf Scoperty angezeigten Inhalte sind für den Anbieter fremde Informationen gemäß § 8 Absatz 1
        Telemediengesetz (TMG). Die rechtliche Verantwortung für diese Informationen liegt bei der Person,
        welche die Inhalte in die Datenbank eingestellt hat.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      c)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter übernimmt keine Gewährleistung für die technische Beschaffenheit von Scoperty, insbesondere nicht
        für die Verfügbarkeit von Scoperty und dessen Inhalte oder für die vollständige und fehlerfreie Wiedergabe der
        vom Nutzer in Scoperty eingestellten Inhalte.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 8 Pflichten des Nutzers
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <div [attr.class]="{block: _name, element: 'text'} | bem">
        Der Nutzer verpflichtet sich gegenüber dem Anbieter, keine Inhalte, Dateien,
        Dokumente, Fotos oder Sonstiges in bzw. auf Scoperty zu veröffentlichen bzw.
        hochzuladen, die gegen die guten Sitten, Rechte Dritter oder geltendes Recht
        verstoßen. Der Nutzer verpflichtet sich insbesondere dazu, keine Inhalte, Dateien,
        Dokumente, Fotos oder Sonstiges auf Scoperty zu veröffentlichen,

        <div [attr.class]="{block: _name, element: 'text-block'} | bem">
          <div [attr.class]="{block: _name, element: 'row'} | bem">
            <span>•</span>
            <p [attr.class]="{block: _name, element: 'text', mods: {'margin-left': '16px', 'mobile-margin-left': '8px'}} | bem">
              deren Veröffentlichung einen Straftatbestand erfüllt oder eine Ordnungswidrigkeit darstellt,
            </p>
          </div>
          <div [attr.class]="{block: _name, element: 'row'} | bem">
            <span>•</span>
            <p [attr.class]="{block: _name, element: 'text', mods: {'margin-left': '16px', 'mobile-margin-left': '8px'}} | bem">
              die gegen das Urheberrecht, Markenrecht, Wettbewerbsrecht oder ein sonstiges Schutzrecht verstoßen,
            </p>
          </div>
          <div [attr.class]="{block: _name, element: 'row'} | bem">
            <span>•</span>
            <p [attr.class]="{block: _name, element: 'text', mods: {'margin-left': '16px', 'mobile-margin-left': '8px'}} | bem">
              die gegen das Rechtsdienstleistungs- oder Steuerberatungsgesetz verstoßen,
            </p>
          </div>
          <div [attr.class]="{block: _name, element: 'row'} | bem">
            <span>•</span>
            <p [attr.class]="{block: _name, element: 'text', mods: {'margin-left': '16px', 'mobile-margin-left': '8px'}} | bem">
              welche beleidigenden, rassistischen, diskriminierenden oder pornographischen Inhalt haben,
          </div>
          <div [attr.class]="{block: _name, element: 'row'} | bem">
            <span>•</span>
            <p [attr.class]="{block: _name, element: 'text', mods: {'margin-left': '16px', 'mobile-margin-left': '8px'}} | bem">
              die Werbung enthalten.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Bei einem Verstoß gegen die Verpflichtung aus § 8a) ist der Anbieter berechtigt, die entsprechenden Beiträge
        des Nutzers abzuändern oder zu löschen und den Zugang des Nutzers zu zum Login-Bereich zu sperren. Der Nutzer
        ist verpflichtet, dem Anbieter den durch die Pflichtverletzung entstandenen Schaden zu ersetzen.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      <p>c)</p>
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter hat das Recht, Inhalte, Dateien, Dokumente, Fotos oder Sonstiges zu löschen, wenn sich für den
        Anbieter der Verdacht ergibt, dass diese einen Verstoß gegen Gesetze enthalten könnten.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      d)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter hat gegen den Nutzer einen Anspruch auf sofortige Freistellung von Ansprüchen Dritter, die Dritte
        wegen der Verletzung eines Rechts durch den Nutzer geltend machen. Der Nutzer verpflichtet sich, den Anbieter
        bei der Abwehr derartiger Ansprüche zu unterstützen. Der Nutzer ist außerdem verpflichtet, die Kosten einer
        angemessenen Rechtsverteidigung des Anbieters zu tragen.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      e)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Nutzer ist selbst dafür verantwortlich, dass Unberechtigte keinen Zugriff auf seine Daten im Login-Bereich
        von Scoperty über die vom Nutzer verwendeten technischen Endgeräte bekommen. Der Anbieter übernimmt keine Haftung
        für den unberechtigten Zugriff Dritter auf die Daten des Nutzers im Login-Bereich von Scoperty über die vom
        Nutzer verwendeten technischen Endgeräte.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 9 Beendigung der Nutzung
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Nutzer kann die Nutzung von Scoperty jederzeit einstellen und sich aus dem
        Login-Bereich von Scoperty abmelden.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Anbieter kann den jeweiligen Vertrag mit Nutzern jederzeit mit einer Frist von 1 Monat ordentlich in Textform
        kündigen und die Nutzung des Login-Bereichs von Scoperty durch den Nutzer sperren. Stellt der Anbieter den Betrieb
        von Scoperty ein, bedarf es keiner gesonderten Kündigung des Nutzers.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      c)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der jeweilige Vertrag mit den Nutzern kann darüber hinaus vom Anbieter aus wichtigem Grund gekündigt werden.
        Ein wichtiger Grund liegt insbesondere vor, wenn der Nutzer gegen die Nutzungsbedingungen oder mit im Rahmen
        der Nutzung von Scoperty gegen Gesetze verstößt.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 10 Erlöschen des Widerrufsrechts gemäß § 356 Abs. 5 BGB
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <div [attr.class]="{block: _name, element: 'text'} | bem">
        Nach § 356 Abs. 5 BGB erlischt das Widerrufsrecht bei einem Vertrag über die
        Lieferung von nicht auf einem körperlichen Datenträger befindlichen digitalen
        Inhalten dann, wenn der Unternehmer mit der Ausführung des Vertrags
        begonnen hat, nachdem der Verbraucher
        <div [attr.class]="{block: _name, element: 'text-block'} | bem">
          <div [attr.class]="{block: _name, element: 'row'} | bem">
            <span>•</span>
            <p [attr.class]="{block: _name, element: 'text', mods: {'margin-left': '16px', 'mobile-margin-left': '8px'}} | bem">
              ausdrücklich zugestimmt hat, dass der Unternehmer mit der Ausführung des Vertrags vor Ablauf der
              Widerrufsfrist beginnt, und
            </p>
          </div>
          <div [attr.class]="{block: _name, element: 'row'} | bem">
            <span>•</span>
            <p [attr.class]="{block: _name, element: 'text', mods: {'margin-left': '16px', 'mobile-margin-left': '8px'}} | bem">
              seine Kenntnis davon bestätigt hat, dass er durch seine Zustimmung mit Beginn der Ausführung des Vertrags
              sein Widerrufsrecht verliert.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Der Nutzer stimmt hiermit ausdrücklich zu, dass der Anbieter noch während der Widerrufsfrist mit der Ausführung
        des Vertrages beginnt. Der Nutzer wird darauf hingewiesen, dass er mit dieser Zustimmung mit Beginn der Ausführung
        des Vertrages sein Widerrufsrecht verliert.
      </p>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'item'} | bem">
    <div [attr.class]="{block: _name, element: 'subtitle'} | bem">
      § 11 Schlussbestimmungen
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      a)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-
        Kaufrechts. Ausschließlicher Gerichtsstand für sämtliche Streitigkeiten aus oder
        im Zusammenhang mit dieser Nutzungsbedingung ist München.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      b)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Sollten einzelne Bestimmungen dieser Nutzungsbedingungen nichtig oder unwirksam sein oder werden, so bleiben
        die Nutzungsbedingungen als Ganzes und die übrigen Bestimmungen davon unberührt. An die Stelle nichtiger oder
        unwirksamer Nutzungsbedingungen treten die gesetzlichen Bestimmungen. Dies gilt ebenso im Falle von Regelungslücken.
      </p>
    </div>

    <div [attr.class]="{block: _name, element: 'text-row'} | bem">
      c)
      <p [attr.class]="{block: _name, element: 'text'} | bem">
        Etwaiger Erfüllungsort für Verpflichtungen aus diesen Nutzungsbedingungen oder sonstigen Vertragsverhältnissen
        des Anbieters mit den Nutzern ist München.
      </p>
    </div>
  </div>
</div>
