<app-spoiler
  id="hiw-fac-what-is-scoperty-spoiler"
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Was ist Scoperty?"
>
  Scoperty ist ein intelligenter Marktplatz, der Nutzern die Möglichkeit bietet, kostenfrei transparente
  Informationen über alle Wohnimmobilien zu erhalten. Der Name „Scoperty“ verbindet die Begriffe „Scoperta“
  (Ital.: Entdeckung) und „Property“ (Engl.: Eigentum). Einzigartig bei Scoperty ist die Möglichkeit, auch
  Schätzwerte zu Immobilien anzuzeigen, die aktuell nicht zum Verkauf stehen. Scoperty Nutzer können auch für
  diese Objekte Gebote abgeben. Eigentümer können über den Schätzwert und diese Gebote die echte Marktattraktivität
  ihrer Immobilie erfahren.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Wer steckt hinter Scoperty?"
>
  Scoperty ist ein Joint Venture von ING Ventures, der PriceHubble AG und der Sprengnetter GmbH.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Wie finde ich meine Traumimmobilie auf Scoperty?"
>
  Der einfachste Weg, ein Objekt auf Scoperty zu finden, ist die Karten-Übersicht oder – noch genauer –
  die Suche nach Adressen.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Wie berechnet Scoperty die Schätzwerte der Immobilien?"
>
  Jede Immobilie erhält bei Scoperty einen individuellen Schätzwert, der von einem speziell entwickelten
  Algorithmus errechnet wird. Das Ergebnis wird von einer Vielzahl von Faktoren beeinflusst, unter anderem
  Standortdaten, Vergleichsobjekte, individuelle Merkmale und zusätzliche Informationen des Eigentümers, die
  dieser persönlich eingeben kann. So kann Scoperty jederzeit marktnahe, aktuelle Schätzungen für alle
  Wohnimmobilien ermitteln.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Woher bezieht Scoperty die Daten für die Berechnung der Schätzwerte?"
>
  Scoperty arbeitet bei der Erhebung und Aufbereitung der Marktdaten mit der Sprengnetter GmbH in Bad Neuenahr
  zusammen. Sprengnetter ist ein sehr erfahrener Partner, der der gesamten Immobilienbranche hilft, mehr
  Vertrauen in Schätzwerte zu gewinnen. Die Basisdaten von Sprengnetter werden durch die Angaben der Nutzer
  ergänzt – so kann Scoperty einzigartige, transparente Daten zum Immobilienmarkt anbieten.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Wieso haben einige Schätzwerte in der Kartenansicht eine andere Farbe?"
>
  Die angezeigten Immobilien lassen sich in drei Kategorien unterscheiden: Aktuell zum Verkauf stehende Objekte
  sind Kauf-Angebote und in magenta eingefärbt. Mit dem dunkelblauen Status „Offen für Gebote" kann der Eigentümer einer
  Immobilie potenziellen Käufern signalisieren, dass er gerne Gebote erhält. Grau dargestellte Angebote sind momentan
  deaktiviert.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Wieso ist der Schätzwert meiner Immobilie so gering?"
>
  Grundsätzlich bestimmt die Lage einer Immobilie in weiten Teilen den Wert. Trotzdem gibt es weitere Punkte,
  die den Schätzwert beeinflussen: Zum Beispiel der allgemeine Zustand, spezielle Modernisierungen oder auch
  Erweiterungen der Außenanlagen. Um deiner individuellen Immobilie gerecht zu werden, kannst du bei Scoperty
  detaillierte Angaben ergänzen. Melde dich dazu als Eigentümer an und passe die Daten entsprechend an. Innerhalb
  von 72 Stunden passt unser Algorithmus den Schätzwert deiner Immobilie entsprechend an.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Wie kann ich das Angebot eines Kaufinteressenten annehmen?"
>
  Um deine Immobilie mit Scoperty zu verkaufen, klick in deinem Profil beim entsprechenden Objekt auf den Link
  „Gebot“ annehmen. Du wirst durch alle weiteren Schritte geführt und Scoperty steht dir bis zum Kaufabschluss
  beratend zur Seite.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Gibt es eine Scoperty Mobile App?"
>
  Scoperty lässt sich mit allen Funktionen im Browser aller gängigen Smartphones und Tablets nutzen. Eine
  spezielle Mobile App ist im Moment nicht geplant.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Was kostet ein Scoperty Profil?"
>
  Für Verkäufer entstehen beim Listing auf Scoperty keine Kosten, potenzielle Käufer bezahlen ebenfalls nichts.
  Auch der Scoperty Heimvorteil ist umsonst.
</app-spoiler>

<app-spoiler
  id="hiw-faq-what-happens-to-data-spoiler"
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Was passiert bei Scoperty mit meinen Daten?"
>
  Alle bei Scoperty erhobenen Daten werden selbstverständlich nach den Vorgaben des Bundesdatenschutzgesetzes sowie
  der Datenschutzgrundverordnung verarbeitet. Eine ausführliche Beschreibung unserer Datenschutzmaßnahmen findest du in unserer
  <a
    id="hiw-faq-data-protection-link"
    app-button
    buttonStyle="link"
    color="inline-green"
    [routerLink]="dataProtectionPageLink"
    target="_blank"
  >Datenschutzerklärung</a>.
  Du kannst natürlich jeder Zeit über unsere Widerspruchsmöglichkeit oder
  per Email (<a
    id="hiw-faq-data-protection-email"
    app-button
    buttonStyle="link"
    color="inline-green"
    [href]="linkToDataProtectionMailTo"
  >datenschutz@scoperty.de</a>) der Verarbeitung widersprechen.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Wie kann ich mein Scoperty Profil löschen?"
>
  Um dein Scoperty Profil endgültig inklusive aller gespeicherten Daten zu entfernen, wähle in deinem Profil den
  Bereich „Meine Benutzerdaten“ und klick den Link „Profil löschen“. Achtung, dieser Vorgang lässt sich nicht
  rückgängig machen.
</app-spoiler>

<app-spoiler
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Wann ist Scoperty in meiner Region verfügbar?"
>
  Wir arbeiten kontinuierlich daran, unser Angebot in ganz Deutschland einzuführen.
  Gerne informieren wir dich, wenn Scoperty auch in deiner Region verfügbar ist.
</app-spoiler>

<app-spoiler
  id="hiw-faq-no-property-on-map-spoiler"
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Du kannst deine Immobilie nicht auf der Karte finden?"
>
  Das tut uns leid. Wenn wir dir das ermöglichen sollen, schick uns einfach eine E-Mail an
  <a
    id="hiw-faq-no-property-on-map-email"
    app-button
    buttonStyle="link"
    color="inline-green"
    [href]="linkToContactMailTo"
  >kontakt@scoperty.de</a>
  mit deiner Adresse und wir werden uns umgehend darum kümmern. Vielen Dank für dein Verständnis.
</app-spoiler>

<app-spoiler
  id="hiw-faq-disagreement-spoiler"
  [attr.class]="{ block: name, element: 'row', mods: { 'type': 'spoiler', 'width': 'calc' } } | bem"
  heading="Wie kann ich der Veröffentlichung meiner Daten widersprechen?"
>
  Bist du der rechtmäßige Eigentümer oder Mieter einer Immobilie,
  dann kannst du natürlich jederzeit der Veröffentlichung deiner Immobilie auf unserer Seite widersprechen.
  Klicke hierfür auf folgenden Link:
  <a
    id="hiw-faq-disagreement-link"
    app-button
    buttonStyle="link"
    color="inline-green"
    (click)="showDissentPropertyModalService.openDissentPropertyModal()"
  >Widerspruchsmöglichkeit</a>.
</app-spoiler>
