<div [attr.class]="{block: _name, element: 'container'} | bem">
  <div [attr.class]="{block: _name, element: 'header'} | bem">
    <div [attr.class]="{block: _name, element: 'header-text'} | bem">
      Finanzierung anfragen
    </div>
  </div>
  <div [attr.class]="{block: _name, element: 'content'} | bem">
    <div [attr.class]="{block: _name, element: 'content-iframe'} | bem">
      <iframe
        src="https://www.interhyp.de/angular/lafpartner/mortgage-request/?LAF_PARTNER=SCOPERTY_ONLINE&adChannel=scoperty&adCampaign=antrag&adKeyword=zire&STYLE=CUSTOM&COLOR=F5254B#/"
        frameborder="0" 
        width="100%"
        height="100%"
      ></iframe>
    </div>
    <div [attr.class]="{block: _name, element: 'tip'} | bem">
      Dieser Service ist ein Service der Interhyp AG.
      Hier findest du die
      <a
        [attr.class]="{block: _name, element: 'link'} | bem"
        href="https://www.interhyp.de/ueber-interhyp/datenschutz/"
        target="_blank"
      >
        Datenschutzerklärung
      </a>
      und das
      <a
        [attr.class]="{block: _name, element: 'link'} | bem"
        href="https://www.interhyp.de/impressum/"
        target="_blank"
      >
        Impressum
      </a>
      der Interhyp AG.
    </div>
  </div>
</div>
