app-start-page .noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

app-start-page .noUi-target {
  position: relative;
  direction: ltr;
}

app-start-page .noUi-base {
  position: relative;
  z-index: 1 ;

  width: 100%;
  height: 100%;

  background-color: var(--neutrals-middle-middle-color);
}

app-start-page .noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

app-start-page .noUi-origin {
  position: absolute;
  bottom: 15px;

  height: 0;
  width: 0;
}

app-start-page .noUi-handle {
  position: relative;
  z-index: 1;
}

app-start-page .noUi-state-tap .noUi-connect,
app-start-page .noUi-state-tap .noUi-origin {
  -webkit-transition: top .3s, right .3s, bottom .3s, left .3s;
  transition: top .3s, right .3s, bottom .3s, left .3s;
}

app-start-page .noUi-state-drag * {
  cursor: inherit !important;
}

app-start-page .noUi-base,
.noUi-handle {
  border-radius: 2px;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

app-start-page .noUi-horizontal {
  height: 4px;
}

app-start-page .noUi-horizontal .noUi-handle {
  left: -7px;

  width: 24px;
  height: 24px;
  border-radius: 14px;
  border: 6px solid var(--secondary-cta-default-color);
  background: var(--neutrals-white-color);
  outline : none;
}

app-start-page .noUi-vertical {
  width: 18px
}

app-start-page .noUi-vertical .noUi-handle {
  left: -6px;
  top: -17px;

  width: 28px;
  height: 34px;
}

app-start-page .noUi-target {
  border-radius: 2px;

  background: var(--neutrals-light-light-color);
  box-shadow: inset 0 1px 1px var(--neutrals-light-middle-color), 0 3px 6px -5px var(--neutrals-middle-extreme-color);
}

app-start-page .noUi-connect {
  border-radius: 4px;

  background: var(--brand-dark-green-color);
  box-shadow: inset 0 0 3px var(--brand-green-blue-color);
  -webkit-transition: background 450ms;
  transition: background 450ms
}

app-start-page .noUi-draggable {
  cursor: ew-resize;
}

app-start-page .noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

app-start-page .noUi-handle {
  cursor: default;
}

app-start-page .noUi-active {
  box-shadow: inset 0 0 1px var(--neutrals-white-color), inset 0 1px 7px var(--neutrals-middle-middle-color), 0 3px 6px -3px var(--neutrals-middle-extreme-color);
}


app-start-page .noUi-handle:after {
  left: 17px;
}

app-start-page .noUi-vertical .noUi-handle:after,
app-start-page .noUi-vertical .noUi-handle:before {
  left: 6px;
  top: 14px;

  width: 14px;
  height: 1px;
}

app-start-page .noUi-vertical .noUi-handle:after {
  top: 17px;
}

app-start-page [disabled] .noUi-connect {
  background: var(--neutrals-middle-extreme-color);
}

app-start-page [disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed;
}

app-start-page .noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

app-start-page .noUi-pips {
  position: absolute;

  color: var(--neutrals-dark-light-color);
}

app-start-page .noUi-value {
  position: absolute;

  white-space: nowrap;
  text-align: center;
}

app-start-page .noUi-value-sub {
  font-size: 10px;

  color: var(--neutrals-middle-middle-color);
}

app-start-page .noUi-marker {
  position: absolute;

  background: var(--neutrals-middle-middle-color);
}

app-start-page .noUi-marker-large,
.noUi-marker-sub {
  background: var(--neutrals-middle-extreme-color);
}

app-start-page .noUi-pips-horizontal {
  top: 100%;
  left: 0;

  height: 80px;
  width: 100%;
  padding: 10px 0;
}

app-start-page .noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0)
}

app-start-page .noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;

  width: 2px;
  height: 5px;
}

app-start-page .noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

app-start-page .noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

app-start-page .noUi-pips-vertical {
  top: 0;
  left: 100%;

  padding: 0 10px;
  height: 100%;
}

app-start-page .noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);

  padding-left: 25px;
}

app-start-page .noUi-marker-vertical.noUi-marker {
  margin-top: -1px;

  width: 5px;
  height: 2px;
}

app-start-page .noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

app-start-page .noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

app-start-page .noUi-tooltip {
  position: absolute;

  display: block;

  padding: 5px;
  border: 1px solid var(--neutrals-middle-middle-color);
  border-radius: 3px;

  text-align: center;
  white-space: nowrap;

  background: var(--neutrals-white-color);
  color: var(--neutrals-dark-color);
}

app-start-page .noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

app-start-page .noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

@media (max-width: 450px) {
  app-start-page .noUi-horizontal .noUi-handle {
    left: -14px;
  }
}
