<app-property-valuation-discover-market-value
  [heading]="heading"
  [subHeading]="subheading"
  [bannerText]="bannerText"
  [listText]="listText"
  [findPropertyInputLabel]="findPropertyInputLabel"
  [findPropertyButtonTitle]="findPropertyButtonTitle"
></app-property-valuation-discover-market-value>

<app-famous-companies-section [shadowEnabled]="false"></app-famous-companies-section>

<app-property-valuation-market-value-determination></app-property-valuation-market-value-determination>

<app-property-valuation-ease-property-sell></app-property-valuation-ease-property-sell>

<app-property-valuation-advertise-property
  [heading]="advertisePropertyHeading"
></app-property-valuation-advertise-property>

<app-property-valuation-we-pay-photograph></app-property-valuation-we-pay-photograph>
