<div [attr.class]="{block: _name, element: 'entire-container'} | bem">
  <!-- Page header -->
  <div [attr.class]="{block: _name, element: 'top-wrapper'} | bem">
    <div [attr.class]="{block: _name, element: 'top-banner'} | bem">
      <div [attr.class]="{block: _name, element: 'top-banner-container'} | bem">
        <div [attr.class]="{block: _name, element: 'top-banner-element', mods: {'side': 'left'}} | bem">
          <div [attr.class]="{block: _name, element: 'left-element-container'} | bem">
            <div [attr.class]="{block: _name, element: 'first-title'} | bem">
              Über uns
            </div>
            <div [attr.class]="{block: _name, element: 'second-title'} | bem">
              Die neue Hausnummer für 40 Millionen Immobilien.
            </div>
          </div>
        </div>
        <div [attr.class]="{block: _name, element: 'top-banner-element', mods: {'side': 'right'}} | bem"></div>
      </div>
    </div>
  </div>

  <div [attr.class]="{block: _name, element: 'info-banner-container'} | bem">
    <div [attr.class]="{block: _name, element: 'info-banner-wrapper'} | bem">
      <div [attr.class]="{block: _name, element: 'info-banner'} | bem">
        <!-- Explanation -->
        <div>
          <p>
            Der Kauf einer Wohnimmobilie rangiert für die meisten Menschen auf der gleichen Ebene wie die Gründung einer Familie.
            Es sind mit die wichtigsten Entscheidungen im Leben und oft geht das eine mit dem anderen einher.
            In beiden Fällen betritt man eine Welt, die viel Neues und Unbekanntes mit sich bringt.
            Und man geht all-in, persönlich wie finanziell.
            Ebenso ist der Verkauf einer Wohnimmobilie eine komplexe Angelegenheit, die gute Informationen und wohl abgewägte Entscheidungen erfordert,um den richtigen Preis, den richtigen Makler und den richtigen Käufer zu finden.
          </p>
          <p>
            Scoperty möchte die Bedürfnisse beider Seiten besser erfüllen.
            Dafür definieren wir einen neuen Standard für den Kauf und Verkauf von Immobilien, in dem Transparenz, Sicherheit, Vertrauen und ein neuer Komfort die Kernwerte sind.
            So wurde Scoperty geboren, ein intelligenter Marktplatz, der alle 40 Millionen Wohnimmobilien in Deutschland erfasst und dadurch mehr Chancen für alle Beteiligten eröffnet.
          </p>
        </div>

        <!-- Header -->
        <div [attr.class]="{block: _name, element: 'third-title'} | bem">
          Der Scoperty Schätzwert - Objektive Basis für Kauf und Verkauf
        </div>

        <!-- Explanation -->
        <div>
          <p>
            Eine neue feste Größe zur Bewertung von Immobilien ist der Scoperty Schätzwert, der von einem hochmodernen Algorithmus auf der Basis von Daten (Näherungswerte) allgemein zugänglicher Stellen berechnet wird.
            Die Qualität des Scoperty Werts kann man als Verkäufer proaktiv erhöhen, indem man selbst Daten wie z.B. Fläche, Lage, Baujahr und Ausstattung eingibt.
            Mehr Menschen können so ihre Immobilie sicherer verkaufen oder ihren Traum von einem eigenen Zuhause realisieren.
            Durch die enge Zusammenarbeit mit lokalen Maklern und unserem Partner Interhyp mit rund 400 Finanzierungsgebern macht Scoperty den Kauf und Verkauf so einfach wie nie zuvor.
          </p>
          <p>
            Scoperty wurde 2019 mit Sitz in München gegründet und wird mit viel Engagement und Leidenschaft von unserem Management Team geführt.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Founders -->
  <div [attr.class]="{block: _name, element: 'founders-block'} | bem">
    <div [attr.class]="{block: _name, element: 'founders-info-container'} | bem">
      <app-founders></app-founders>
    </div>
  </div>
</div>
