<app-base-modal [showMobileNavbar]="false" (dismiss)="onDismiss()">
  <ng-container app-base-modal-header>
    Passwort festlegen
  </ng-container>

  <ng-container *ngIf="isNeedToShowMessage" app-base-modal-message>
    <app-alert *ngIf="isPhoneCode" type="success">
      Wir haben dir eine SMS an deine Mobilfunknummer geschickt,
      mit der du dich authentifiziert hast.
    </app-alert>

    <app-generic-error-alert *ngIf="isUnknownError"></app-generic-error-alert>
    <app-alert type="error" *ngIf="isBadResetLink">
      <p>Der Link ist nicht mehr gültig, sende dir einen Neuen.</p>
      <a
        app-button
        buttonStyle="link"
        color="green"
        (click)="openPasswordReset()">
        Neuen Bestätigungslink senden
      </a>
    </app-alert>
  </ng-container>

  <ng-container app-base-modal-body>
    <form
      autocomplete="new-password"
      [formGroup]="verifyForm"
      [attr.class]="{
        block: _name,
        element: 'form',
        mods: {
          'direction': !isPhoneCode ? 'column' : 'row',
          'multisteps': isPhoneCode
        }
      } | bem"
    >
      <!-- Phone code -->
      <ng-container *ngIf="isPhoneCode">
        <!-- Title -->
        <div [attr.class]="{block: _name, element: 'title'} | bem">
          {{ 'Gib hier deinen SMS-Code ein' | uppercase }}
        </div>

        <!-- New phone code -->
        <div [attr.class]="{block: _name, element: 'form-row'} | bem">
          <app-form-field label="SMS-Code">
            <input
              type="text"
              name="code"
              required
              autocomplete="new-password"
              tabindex="1"
              app-input
              appValidateOnBlur [validateFormControl]="code"
              [formControl]="code"
              #codeInput
            >

            <ng-template app-form-field-error-message error="required">
              SMS-Code ist ein Pflichtfeld
            </ng-template>
          </app-form-field>
        </div>

        <!-- Request code link -->
        <div [attr.class]="{block: _name, element: 'code-link-container'} | bem">
          <button
            app-button
            size="medium"
            color="green"
            buttonStyle="link"
            (click)="onResendPhoneCode()"
          >
            SMS-Code erneut senden
          </button>
        </div>
      </ng-container>

      <!-- Title -->
      <div [attr.class]="{block: _name, element: 'title', mods:{'padding': isPhoneCode ? true : false}} | bem">
        {{'Lege dein neues Passwort fest' | uppercase}}
      </div>

      <!-- New password -->
      <div [attr.class]="{block: _name, element: 'form-row'} | bem">
        <app-form-field label="Neues Passwort">
          <input
            name="new-password"
            type="password"
            autocomplete="new-password"
            tabindex="2"
            appValidateOnBlur [validateFormControl]="password"
            app-input
            [formControl]="password"
            #passwordInput
          >

          <ng-template app-form-field-error-message error="required">
            Passwort ist ein Pflichtfeld
          </ng-template>
        </app-form-field>

        <!-- New password requirements -->
        <app-input-requirements [control]="password">
          <ng-template app-input-requirement requirement="minlength">
            {{(isSmallMobileDevice$ | async) ? 'Min. 8 Zeichen' : 'Mindestens 8 Zeichen'}}
          </ng-template>
          <ng-template app-input-requirement requirement="letter">
            {{(isSmallMobileDevice$ | async)? 'Min. 1 Groß- und Kleinbuchstabe' : 'Mindestens 1 Groß- und Kleinbuchstabe'}}
          </ng-template>
          <ng-template app-input-requirement requirement="number">
            {{(isSmallMobileDevice$ | async)? 'Min. 1 Zahl' : 'Mindestens eine Zahl'}}
          </ng-template>
        </app-input-requirements>
      </div>

      <!-- Repeat password -->
      <div [attr.class]="{block: _name, element: 'form-row', mods: {'margin-top':'16px'}} | bem">
        <app-form-field
          label="Neues Passwort wiederholen"
          [validateFormGroupErrors]="[ 'repassword' ]"
        >
          <input
            name="repassword"
            type="password"
            autocomplete="new-password"
            tabindex="3"
            app-input
            appValidateOnBlur [validateFormControl]="repassword"
            [formControl]="repassword"
            (keyup.enter)="onChangePassword()"
          >

          <ng-template app-form-field-error-message error="repassword">
            Die Passwörter stimmen nicht überein
          </ng-template>
        </app-form-field>
      </div>
    </form>
  </ng-container>

  <ng-container app-base-modal-footer>
    <app-base-modal-actions>
      <button
        app-button
        color="primary-green"
        size="medium"
        [stretch]="true"
        (click)="onChangePassword()"
      >
        Passwort festlegen
      </button>
    </app-base-modal-actions>
  </ng-container>
</app-base-modal>
