*:not([class^="icon"]) {
  font-family: 'Nunito Sans', sans-serif;
}

:host {
  display: block;

  height: 100%;
}

.confirm-password__title {
  position: relative;

  width: 100%;

  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 18px;

  color: var(--brand-dark-green-color);
}

.confirm-password__title--padding-true {
  margin-top: 48px;
}

.confirm-password__form--multisteps-true {
  padding-top: 0;
}

.confirm-password__form-row {
  margin-top: 24px;
}

.confirm-password__form-row--margin-top-16px {
  margin-top: 16px;
}

.confirm-password__form-row:first-child {
  margin-top: 0;
}

.confirm-password__code-link-container {
  margin-top: 8px;
}

@media(max-width: 768px) {
  .confirm-password__form {
    padding: 0;
  }

  .confirm-password__title {
    padding: 0 0 16px;
  }

  .confirm-password__title--padding-true {
    padding-top: 32px;
  }

  .confirm-password__form-row {
    margin-top: 0;
  }

  .confirm-password__form-row--margin-top-16px {
    margin-top: 16px;
  }
}
