<app-base-modal (dismiss)="dismiss()">
  <ng-container app-base-modal-header [align]="alignLeft">
    <app-logo (click)="onLogoClick()"></app-logo>
  </ng-container>

  <ng-container app-base-modal-title>
    {{text}}
  </ng-container>

  <ng-container *ngIf="attention" app-base-modal-body>
    <div [attr.class]="{block: _name, element: 'attention'} | bem">
      {{attention}}
    </div>

    <app-checkbox
      label="Ich bin mir sicher"
      name="confirm-deactivate"
      [required]="true"
      [checked]="false"
      (changed)="changeCheckboxState($event)"
    >
    </app-checkbox>
  </ng-container>

  <ng-container app-base-modal-footer>
    <app-base-modal-actions align="space-between">
      <button
        app-button
        buttonStyle="link"
        size="medium"
        color="green"
        (click)="apply(false)"
      >
        {{buttonText2}}
      </button>
      <button
        app-button
        size="medium"
        [color]="buttonColor"
        [disabled]="buttonDisabled"
        (click)="apply(true)"
      >
        {{buttonText}}
      </button>
    </app-base-modal-actions>
  </ng-container>
</app-base-modal>
